.section {
	max-width: calc(var(--max-width) + 2rem);
	padding: 0 1rem;
	margin: max(3rem, min(5rem, 11.4vw)) auto 0;
	padding-bottom: 2rem;
	h2 {
		color: var(--pink);
		font-size: max(1.6rem, min(3rem, 6.9vw));
		font-family: "Oswald", sans-serif;
		text-transform: uppercase;
	}
}
.section__img {
	> div {
		position: relative;
		width: 100%;
		overflow: hidden;
	}
}
.section__text {
	font-size: max(1.2rem, min(1.5rem, 3.4vw));
}

@media (min-width: 992px) {
	.section__text {
		margin-top: 2rem;
	}
	.section__img {
		height: 100%;
		padding: 1.5rem 0;
		> div {
			height: 100%;
		}
	}
}

@media (max-width: 991.98px) {
	.section__title {
		text-align: center;
	}
	.section__text {
		max-width: 38rem;
		margin: 2rem auto 0;
	}
	.section__img {
		width: 100%;
		max-width: 25rem;
		margin: 2rem auto 0;
		> div {
			height: 0;
		}
	}
}

.oki_1,
.oki_2 {
	position: absolute;
	width: calc(100% - 2.2rem);
	height: calc(100% - 1.6rem);
	overflow: hidden;
	border-top-left-radius: 2rem;
	border-bottom-right-radius: 2rem;
	@extend %img_pozition;
}
.oki_1 {
	bottom: 0;
	right: 0;
	z-index: 1;
	filter: brightness(60%);
}
.oki_2 {
	top: 0;
	left: 0;
	z-index: 2;
}

// О компании
.okompany__soc {
	display: flex;
	margin-top: 1rem;
	a {
		display: flex;
		align-items: center;
		margin-top: 1rem;
		svg {
			width: 2.3rem;
			height: 2.3rem;
			fill: var(--pink);
			margin-right: 1rem;
		}
		span {
			font-size: 1.3rem;
			font-weight: 700;
			white-space: nowrap;
		}
	}
}

@media (min-width: 992px) {
	.okompany {
		display: grid;
		grid-template: auto 1fr auto / 50% 1fr 35%;
	}
	.okompany__title {
		grid-column: 1 / 3;
		grid-row: 1 / 2;
	}
	.okompany__img {
		grid-column: -2 / -1;
		grid-row: 1 / 3;
		min-height: 20rem;
		max-height: 30rem;
	}
	.okompany__text {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
	}
	.okompany__soc {
		grid-column: 1 / 4;
		grid-row: 3 / 4;
		a {
			margin-right: 2rem;
		}
	}
}

@media (max-width: 991.98px) {
	.okompany__img {
		> div {
			padding-top: 100%;
		}
	}
	.okompany__soc {
		flex-direction: column;
		align-items: center;
	}
}
// О работе
@media (min-width: 992px) {
	.orabote {
		display: grid;
		grid-template: auto 1fr / 2.5rem 1fr calc((100% - 5rem) * 0.35) 2.5rem;
		max-width: calc(var(--max-width) + 2rem + 5rem);
	}
	.orabote__title {
		grid-column: 2 / 3;
		grid-row: 1 / 2;
	}
	.orabote__img {
		grid-column: -3 / -2;
		grid-row: 1 / 3;
		position: relative;
		order: 2;
		z-index: 2;
		min-height: 20rem;
		max-height: 50rem;
	}
	.orabote__text {
		grid-column: 1 / -1;
		grid-row: 2 / 3;
		border: 2px solid #fff;
		position: relative;
		order: 1;
		z-index: 1;
		padding: 2.5rem calc(((100% - 5rem) * 0.35) + 5rem) 2.5rem 2.5rem;
		border-top-left-radius: 2rem;
		border-bottom-right-radius: 2rem;
	}
}

@media (max-width: 991.98px) {
	.orabote__img {
		> div {
			padding-top: 140%;
		}
	}
}
// Форма отправки сообщения
.zadvopros__form {
	position: relative;
	> * {
		width: 100%;
	}
	.btn {
		margin-top: 2rem;
	}
}
input[type="text"],
input[type="tel"] {
	margin-bottom: 1.6rem;
}
textarea[name="question"] {
	resize: none;
	height: 7rem;
}
.successMessage {
	display: none;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-size: 2rem;
	z-index: 10;
	font-size: max(1.2rem, min(1.5rem, 3.4vw));
}

@media (min-width: 992px) {
	.zadvopros__title {
		text-align: center;
	}
	.zadvopros {
		display: grid;
		grid-template: auto 1fr / 35% 1fr 50%;
	}
	.zadvopros__title {
		grid-column: -2 / -1;
		grid-row: 1 / 2;
	}
	.zadvopros__img {
		grid-column: 1 / 2;
		grid-row: 1 / 3;
		min-height: 20rem;
		max-height: 30rem;
	}
	.zadvopros__form {
		grid-column: -2 / -1;
		grid-row: 2 / 3;
	}
}

@media (max-width: 991.98px) {
	.zadvopros__img {
		> div {
			padding-top: 100%;
		}
	}
	.telegramForm {
		text-align: center;
	}
}
// Требования
@media (min-width: 992px) {
	.trebovan {
		display: grid;
		grid-template: auto 1fr / 35% 1fr 50%;
	}
	.trebovan__title {
		grid-column: -2 / -1;
		grid-row: 1 / 2;
	}
	.trebovan__img {
		grid-column: 1 / 2;
		grid-row: 1 / 3;
		min-height: 20rem;
		max-height: 50rem;
	}
	.trebovan__text {
		grid-column: -2 / -1;
		grid-row: 2 / 3;
	}
}

@media (max-width: 991.98px) {
	.trebovan__img {
		> div {
			padding-top: 140%;
		}
	}
}
// Заработок
@media (min-width: 992px) {
	.zarobotok {
		display: grid;
		grid-template: auto 1fr / 50% 1fr 35%;
	}
	.zarobotok__title {
		grid-column: 1 / 3;
		grid-row: 1 / 2;
	}
	.zarobotok__img {
		grid-column: -2 / -1;
		grid-row: 1 / 3;
		min-height: 20rem;
		max-height: 30rem;
	}
	.zarobotok__text {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
	}
}

@media (max-width: 991.98px) {
	.zarobotok__img {
		> div {
			padding-top: 100%;
		}
	}
}
// Клубы
.klubs__title,
.klubs__text {
	text-align: center;
}
.klubs__img {
	display: flex;
	justify-content: space-between;
	span {
		display: block;
		position: relative;
		overflow: hidden;
		height: 0;
		width: 100%;
		border-top-left-radius: 2rem;
		border-bottom-right-radius: 2rem;
		@extend %img_pozition;
		margin-top: 2rem;
	}
}
@media (min-width: 992px) {
	.klubs__img {
		span {
			width: calc(25% - 1.5rem);
			padding-top: calc((25% - 1.5rem) * 1.5);
		}
	}
}

@media (max-width: 991.98px) {
	.klubs__img {
		flex-wrap: wrap;
		max-width: 38rem;
		margin: 0 auto;
		span {
			width: calc(50% - 1rem);
			padding-top: calc((50% - 1rem) * 1.5);
		}
	}
}
